* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
header {
    color: white;
    background-color: #0171C5;
    font-family: monospace;
    padding-top:20px;
    padding-bottom: 3px;
    padding-left:3px;
    width:970px;
}
nav a, a:hover, a:active, a:visited { 
    color: white; 
}
p {
    text-align: left;
}
div.five {
    background-color:#F3F3F3;
    padding:20px;
    margin-left:0;
    margin-right:0;
    width:970px;
}
div.one {
    float:left;
    width:490px;
    padding-right:30px;
    padding-top:50px;
}
div.two {
    margin-left: 490px;
    clear:right;
}
div.three {
    float:left;
    width:480px;
    clear:left;
}
span.four {
    float:left;
    padding-left:3px;
    width:490px;
    padding-top:50px;
    clear:right;
    margin-left:0;
}
div#six {
    width:970px;
    margin-left:0;
    margin-right:0;
}