#email_address {
    text-align: center;
}
.account_manager > p {
    text-align: left;
}
.bottom_three > div > p {
    text-align: left; 
}
.education > h4 {
    text-align: left;
    font-weight: 800;
    font-size:1.2em;
}
.skills {
    border-top: 2px solid black;
    
}
.education {
    border-top:2px solid black;
   
}
.customer_service {
    border-right: 2px solid black;
    border-left:2px solid black;
}
h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
}
h3 {
    font-family: 'Raleway', sans-serif;
}
h4 {
    font-family: 'Play', sans-serif;
}
h5 {
    font-family: 'Nobile', sans-serif;
}
h6 {
   font-family: 'Alegreya Sans', sans-serif;
   font-style: italic; 
}
.city {
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size:.75em;
}
.rubik_font {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size:.75em;
}
p {
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 992px) {
    #address_home > p {
        text-align: center;
    }
    #email_address > p {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .customer_service {
        border: none;
    }
}
a, a:visited {
    text-decoration: none;
    color:black;
}
a:hover, a:active {
    text-decoration: none;
    color:seagreen;
}


