body {
    font-family: futura;
}
header{
    margin-left: 1%;
    margin-right: 1%;
    clear: both;
    margin-top: 20px;
}
h1 {
    float:left;
    text-align: left;
    width:50%;
    font-size:40px;
}
nav{
    float:left;
    text-align: right;
    width:40%;
    padding-left: 7%;
}
nav > span {
    float: left;
    text-align: right;
    padding:5px;
    margin: 1%;
    color: black;
    border: 1px solid black;
    overflow: cover;
    background-color: black;
}
nav > span > a {
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    color:white;
}
#topguitar {
    float:left;
    background-image: url("https://sussexrocks2012.files.wordpress.com/2012/08/sussex-rocks-header.jpeg");
    background-size: cover;
    width:100%;
    color:white;
}
#topguitar > div {
    background-color: rgba(0,0,0,.6);
    padding-top:10%;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom:10%;
}
h2 {
    font-size:40px;
}
#topguitar > div > a {
    color: white;
    text-decoration: none;
    padding:5px;
    border:white 1px solid;
    margin-top: 10px;
}
#topguitar > div > p {
    padding:10px;
    margin-bottom: 10px;
}
#micparagraph {
    float: left;
    clear: both;
    overflow: auto;
    padding:1%;
}
#guitartwo {
    width: 40%;
    float: left;
    margin-left: 10%;
    overflow: hidden;
}
#guitartwo > img {
    width:100%;
}
#starving {
    width: 40%;
    float: left;
    padding-top:9%;
    text-align: center;
    margin-right: 8%;
    margin-left: 1%;
}
#starving > span {
    width: 50%;
}
#starving > span > h3 {
    font-size: 30px;
}
#fourpicdescriptions {
    width: 100%;
    background-color: black;
}
#fourpicdescriptions > div > img {
    width: 12%;
    height:150px;
    margin-left:7%;
    float: left;
}
#fourpicdescriptions > div > img:nth-child(2) {
    margin-left:12%
}
#fourpicdescriptions > div > img:nth-child(3) {
    margin-left: 13%;
}
#fourpicdescriptions > div > img:nth-child(4) {
    margin-left: 12.5%;
}
#fourpicdescriptions > div {
    background-color: black;
    float:left;
    padding-top:2%;
}
#descriptions {
    float:left;
    width:99%;
    padding-right:1%;
}
#descriptions > div {
    float:left;
    width:25%;
    text-align: center;
    padding-bottom: 1%;
    background-color:black;
    color:white;
}
#descriptions > div > h4{
    font-weight: bold;
    font-size:2em;
}
#descriptions > div > p {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#bottomtwo {
    width: 100%;
}
#bottomtwo > div {
    background-color: black;
    color: white;
}
#bottomtwo > div > p{
    width: 80%;
    float:right;
    margin-right: 2%;
    padding:1%
}
#bottomtwo > div > p:nth-child(4) {
    float:right;
}
#father {
    float: left;
    width: 50%;
}
#bon {
    float: left;
    width: 50%;
}
#father > img {
    float: left;
    width: 100%;
    height:400px;
}
#bon > img {
    float: left;
    width: 100%;
    height:400px;
}
#bottomguitar{
    float: left;
    background-image: url("http://41.media.tumblr.com/92fd242c0f073c6706acea454f56b69b/tumblr_nu27d9jdjU1qc1ct4o8_1280.jpg");
    width:100%;
    background-size: cover;
    color: white;
}
#bottomguitar > div{
    text-align: center;
    background-color: rgba(0,0,0,.6);
    padding:10%;
    padding-left: 25%;
    padding-right: 25%;
}
#bottomguitar > div > a{
    text-decoration: none;
    color: white;
    padding:5px;
    border:white 1px solid;
}
#bottomguitar > div > p {
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 15%;
}
#testimonial {
    clear: both;
    text-align: center;
}
