#myCarousel {
    overflow: hidden;
    text-align: center;
    height: 350px;
}
#headline {
    text-align: center;
}
header {
    text-align: center;
}
#vinyl {
    text-align: center;
    overflow: hidden;
}
#pritchard {
    text-align: center;
    overflow: hidden;
}
#woods {
    text-align: center;
}
#vinyl > img {
    height: 300px;
}
#pritchard > img {
    height: 300px;
    margin-left: 4%;
}
@media (max-width: 900px) {
  #pritchard > img {
    height: auto;
    margin: 0%;
  }
}
@media (max-width: 900px) {
  #vinyl > img {
    height: auto;
    margin: 0%;
    width: 100%;
  }
}
@media (max-width: 900px) {
  #woods > img {
    height: auto;
    margin: 0%;
    width: 100%;
  }
}
@media (max-width: 900px) {
  #myCarousel {
    height: 420px;
    margin: 0%;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .thumbs {
    height: auto;
    margin: 0%;
    width: 50%;
    text-align: center;
  }
  .thumbs > h3 {
    font-size:10px;
    }
}
